    
     body{
     background-color: rgb(240, 240, 240);
     margin: 0;
     padding: 0;
   }
   header{
     background-color: rgb(155, 196, 192);
   }
   .behavier-box {
     display: inline-block;
     width: 30%;
     margin-right: 2%;
     box-sizing: border-box;
     background-color: greenyellow;
     text-align:center ;
     height: 5em;
     line-height: 5em;
     font-size: 2em;
     border-radius: 3px;
     border: solid 1px white;
     box-shadow: 0 0 3px black;

   }

   /*Work pages*/

   #Work-section article {
     border-bottom: solid 2px white;
     margin-bottom: 2em;
   }
   #Work-section article img {
     width: 25%;
     margin: 2%;
   }
   #Work-section article .right-content {
     display: inline-block;
     width: 70%;
     vertical-align: top;
   }

   /* gallery pages*/

   .Gallery-container img {
     width: 32%;
     margin-right: 0%;
     margin-left: 0%;
     
    }
   
  

    .column {
      float: left;
      width: 49%;
      margin: 3px;
      padding: 3px;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }

  .dropbtn {
    background-color: #e6c81e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: sticky;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(82, 80, 80, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } 
 /*Gallery page*/
 /*.Gallery-container img{
   width: 100%;
   margin-right: 0;
   margin-left: 0;

 }*/
  /*tablet méret*/
   /*  @media screen and (min-width:768px) {
    .behavier-box{
      width: 45%;
    }
    .Gallery-container {
      width: 47%;
    }*/
   /* pc méret */
    /*  @media screen and (min-width: 968px) {
      .behavier-box{
        width: 30%;
      }
      .Gallery-container {
        width: 30%;
        margin: 1%;
      }*/